:root {
  --green: #28a745;
  --yellow: rgb(253, 253, 81);
  --beige: #F5E6CA;
  --red: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.nav1 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 40px;
  color: var(--green);
  cursor: pointer;
}

.nav1 a{
  text-decoration: none;
  color: var(--green);
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  padding-right: 10px;
  color: rgb(79, 77, 77);
}

.nav2 i {
  font-size: 25px;
  cursor: pointer;
}

.nav2 span {
  background-color: var(--red);
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -10px;
}



#menu{
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav2 h6 {
  font-size: 20px;
}

h6:hover {
  color: var(--green);
  cursor: pointer;
}

.nav2 a {
  text-decoration: none;
  color: var(--gray);
  font-size: 20px;
}

.nav2 a:visited {
  color: var(--gray);
}

.nav2 a:hover {
  color: var(--green);
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--green);
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.scroll-top:hover {
  background-color: #218838;
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search input,
.search select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 20px;  
  width: 500px;     
}

.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto; 
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  z-index: 2000;
}

body.showCart .cartTab {
  inset: 0 0 0 auto; 
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .listCart {
  overflow: auto;
}

.cartTab 
.listCart 
.item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.cartTab 
.listCart 
.item img {
  width: 100%; 
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
  background-color: var(--green);
  border: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btn .close { 
  background-color: #eee; 
}

.quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #353432;
  border-radius: 50%;
  cursor: pointer;
}

.quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.item button{
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.item button:hover{
  background: darkred;
}

.products {
  padding: 50px 10%;
  background: #f8f8f8;
  text-align: center;
  text-decoration: underline var(--green);
}

.product-title {
  font-size: 49px;
  color: var(--green);
  margin-bottom: 60px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px 10px;
  max-width: 1400px;
  margin: 30px auto;
  padding: 20px;
}

.product-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  transform: translate(0px, 0px);
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-10px) scale(1.05);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
  text-align: left;
}

.product-info h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-info p {
  font-size: 16px;
  color: #555;
}

.product-info span {
  color: var(--green);
  font-weight: 200;
}

.popup-text h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

#popupPrice {
  font-size: 22px;
  margin-bottom: 10px;
}

#popupCategory {
  color: gray;
  margin-bottom: 10px;
}

#popupDesc {
  color: #444;
  margin-bottom: 20px;
}

.popup button {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
  background-color: var(--green);
  color: white;
  border: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #218838;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 900px;
  height: 420px;
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
}

#popupImg {
  max-width: 380px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  height: auto;
}

.popup-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#closePopup {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}



@media (max-width: 900px) {

    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
  }

  .nav1 {
    font-size: 28px;
  }

  .menu{
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  #menu:checked ~ .nav2 {
    display: flex;
  }

  #menu{
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav2 {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    display: none;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  }

  .nav2.active {
    display: flex;
  }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .search {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-bottom: 20px;
        padding: 0 10%;
        flex-wrap: wrap;
    }
    .search input {
    width: 220px;
    }

    .search select {
        width: 150px;
    }

    .search {
        gap: 10px;
        padding: 10px;
    }

    .searchInput, .search select {
        width: 40%; 
        flex: none;  
    }

    .popup-content {
        width: 90%;
        height: auto;
        flex-direction: column; 
        padding: 40px 20px 20px 20px;
    }

    #popupImg {
        max-width: 100%;
        height: 200px;
    }

}


@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}